html {
  scroll-behavior: smooth;
}

body {
  color: #eee;
}

p {
  font-size: 18px;
}

textarea.materialize-textarea,
textarea.materialize-textarea:disabled {
  color: #eee;
  border-bottom: 0px;
}

.input-field>label {
  font-size: 1.2rem;
}

.div-center {
  margin: auto;
  display: block;
  text-align: center;
}

.short {
  margin-bottom: auto !important;
}

.pad-child > * {
  margin: 0.5em 1em;
}

.card-panel {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
          animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#noscript,
#noworker {
  color: #ff5252;
}

#prog {
  visibility: hidden;
}

#calc-card,
#jugg-card,
#jugg-err,
#noworker {
  display: none;
}

#feat .tab a {
  color: #ffeb3b;
}

.input-field label,
.input-field span,
input[type=number],
input[type=number].validate + label {
  color: #fff;
}

/* input[type=number]:focus + label {
  color: #00e676;
} */

input[type=number]:focus,
input[type=number].valid {
  border-bottom: 1px solid #00e676;
  box-shadow: 0 1px 0 0 #00e676;
}

input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=number].invalid ~ .helper-text[data-error],
input[type=number]:focus.invalid ~ .helper-text[data-error] {
  color: #ff9292;
}

input[type=number].invalid {
  border-bottom: 1px solid #ff9292;
  box-shadow: 0 1px 0 0 #ff9292;
}
