@font-face {
    font-family: "SteelCity";
    src: url("../../asset/scb.ttf") format("truetype");
}

body {
    font-family: "SteelCity";
    color: "black";
    background: #f5f5f5;
}

button {
    font-family: "SteelCity";
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0.8;
}

button:hover {
    background-color: #fff;
    border: 2px solid #e7e7e7;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25), 0 4px 12px 0 rgba(0,0,0,0.2);
    opacity: 1;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

button:disabled {
    opacity: 0.2;
}

abbr {
    text-decoration: none;
    color: blue;
}

abbr:hover {
    color: skyblue;
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: indigo;
}

a:hover {
    color: hotpink;
}

a:active {
    color: maroon;
}

.header a {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: -6em;
    background-color: #f5f5f5;
    padding: 10px 20px;
    text-align: center;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 15pt;
}

#title {
    font-size: 24pt;
}
